
<link rel="stylesheet" href="stylesheets/footer.css">

<footer class="container-fluid">
    <div class="row">
        <div class="row col-6"> 

        <div class="icons col-12"> <i class="fab fa-instagram"></i> Instagram
        </div>

        <div class="text col-12"> <p class="email"> <i class="far fa-envelope"></i> Correo-electronico</p></div>

        </div>   
    </div>
</footer>
