
<link rel="stylesheet" href="/stylesheets/footer.css">

<footer class="container-fluid">
    <div class="row" style="width: 100%;">

        
        <div class="row col-6"> 
            
       <ul class="ulcss">


        <li class="list-inline-item email" style="
        margin-left: 8px;">
        <a class="desk" href="#" style="color: white;"><i class="far fa-envelope footer"></i> Correo-electronico </a>
        <a class="mobile" href="#" style="color: white;"><i class="far fa-envelope footer"></i></a>
        </li>
        
        <li class="list-inline-item email" style="
        margin-left: 8px;">
        <a class="desk" style="color: white;"> <i class="fas fa-phone-volume"></i> Llamanos al 3785-7420 </a>
        <a class="mobile" style="color: white;"> <i class="fas fa-phone-volume"></i> 3785-7420 </a>
        </li>

        <li class="list-inline-item email" style="
        margin-left: 10px;">
        <a class="desk" href="https://www.instagram.com/fresharg/" style="color: white;"> <i class="fab fa-instagram footer"></i> Instagram </a>
        <a class="mobile" href="https://www.instagram.com/fresharg/" style="color: white;"> <i class="fab fa-instagram footer"></i>  </a>
        </li>    


        </ul> 

        <div class="text col-12"> <p class="footer" style=" margin-bottom: 8px;"> © 2020, FRESH Corporation </p></div>
            
        


        </div> 
    </div>




</footer>
