
<link rel="stylesheet" href="/stylesheets/footer.css">

<footer class="container-fluid">
    <div class="row">

        
        <div class="row col-6"> 
            
       <ul class="ulcss">


        <li class="list-inline-item email" style="
        margin-left: 8px;">
        <a href="#" style="color: white;"><i class="far fa-envelope footer"></i> Correo-electronico </a>
        </li>

        <li class="list-inline-item email" style="
        margin-left: 10px;">
        <a href="https://www.instagram.com/fresharg/" style="color: white;"> <i class="fab fa-instagram footer"></i> Instagram </a>
        </li>
          
    
        <li class="list-inline-item email" style="
        margin-left: 8px;">
        <a  style="color: white;"> <i class="fas fa-phone-volume"></i> Llamanos al 3785-7420 </a>
        </li>
    


        </ul> 

        <div class="text col-12"> <p class="footer" style=" margin-bottom: 8px;"> © 2020, FRESH Corporation </p></div>
            
        


        </div>   
    </div>




</footer>
