
<link rel="stylesheet" href="/stylesheets/footer.css">

<footer class="container-fluid">
    <div class="row">
        <div class="row col-6"> 

        <div class="icons col-12"><p class="email footer"> <i class="fab fa-instagram footer"></i> Instagram </p>
        </div>

        <div class="text col-12"> <p class="email footer"> <i class="far fa-envelope footer"></i> Correo-electronico</p></div>

        <div class="text col-12"> <p class="email footer"> © 2020, FRESH Corporation </p></div>

        </div>   
    </div>
</footer>
