<link rel='stylesheet' href='/stylesheets/header.css' />
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">

<header>
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-3">
            <i class="fas fa-bars"></i>
            <a href="/users/login"><button class="btn-1"><i class="fa fa-user-circle" aria-hidden="true"></i> Login</button></a>
        </div>
        <div class="col-6 t">
            <a class="title" href="/"><h3 class="t">FRESH</h3></a>
        </div>
        <div class="row col-2 col-lg-1">
            <i class="fas fa-search mobile"></i>
            <i class="fas fa-shopping-cart desk"></i>
        </div>    
        <div class="col-1 col-lg-2 buscador">
            <i class="fas fa-shopping-cart mobile"></i>
            <i class="fas fa-search desk"></i>
            <input class="campo desk" type="text">
        </div>
      </div>
    </div>
  </header>