<link rel='stylesheet' href='/stylesheets/header.css' />
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">

<header>
    <div class="container-fluid">
      <div class="row align-items-center header">
        <div class="col-3 login desk">
            <a href="/users/login"><button class="btn-1"><i class="fa fa-user-circle" aria-hidden="true"></i> Login</button></a>
        </div>
        <div class="col-1 login mobile">
          <i class="fas fa-bars header"></i>
        </div>
        <div class="col-6 t">
            <a class="title" href="/"><h3 class="t">FRESH</h3></a>
        </div>
        <div class="row col-4 col-lg-1 buscadorMobile">
            <i class="fas fa-search mobile header"></i>
            
            <a href="/products/cart"><i class="fas fa-shopping-cart carrito desk header"></i></a>
        </div>    
        <div class="col-1 col-lg-2 buscador">
            <i class="fas fa-shopping-cart mobile header"></i>
            <i class="fas fa-search desk"></i>
            <input class="campo desk" type="text">
        </div>
      </div>
    </div>
  </header>