<link rel='stylesheet' href='/stylesheets/header.css' />
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">

<header>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-3">
            <i class="fas fa-bars"></i>
        </div>
        <div class="col-6 t">
          <h3 class="t">FRESH</h3>
        </div>
        <div class="row col-2">
            <i class="fas fa-search"></i>
        </div>    
        <div class="col-1">
            <i class="fas fa-shopping-cart"></i>
        </div>
      </div>
    </div>
  </header>