
footer.container-fluid {
    background-color: #2d3436;
    border-top: black solid 1px;
    height: 15%;
<<<<<<< HEAD
    width: 100%;
=======
    margin-top: 30px;
>>>>>>> 035c15c44cd96b930fe9a857f29bee04d00ee923
}
div.row{
    display: flex;
    justify-content: center;
}
div.col-6{
    text-align: center
}
.email{
    font-size: 15px;
    margin-bottom: 0px;
}
i.footer {
    color: white
}
p.footer {
    color:white
}