main {
    background-color: #f1f2f6;
    padding-top: 20px;
    height: 65%;
}
header {
    border-bottom: 1px solid black;
    background-color: #dfe4ea;
    height: 20%;
}

div.row.align-items-center{
    height: 50px;
}

.row.col-2 {
    display: flex;
    justify-content: center;
}

div.col-6.t {
    align-items: center;
}

h3.t {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    margin-bottom: 0px;
}

h3.m {
    text-align: center;
}

section.products {
    display: flex;
    flex-wrap: wrap;
}

img {
    height: 100%;
    width: 100%;
}

article.col-6 {
    margin-bottom: 15px;
}
