main {
    background-color: #f1f2f6;
}
header {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

h3.t {
    text-align: center;
}

h3.m {
    text-align: center;
}

section.products {
    display: flex;
    flex-wrap: wrap;
}

img {
    height: 172px;
}