h6.desc {
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin: 10px 0 5px 0
}
.nombreProd {
    color: rgb(219, 99, 0);
    font-size: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

.n{
    justify-content: center;
}
.desc.n {
    text-align: center;
    font-size: 18px;
}
.desc.p {
    text-align: center;
    color: red;
    font-size: 16px;
}
h6.precio {
    font-size: 24px;
    font-weight: 350;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
.rojo {
    color: #EA2027;
    display: inline-block;
}
.foto {
    width: 90%;
    display: flex;
}
.f {
    display: flex;
    justify-content: center;
}
.carousel-control-prev-icon {
    color: black;
    background-color: black;
}
.carousel-control-next-icon {
    color: black;
    background-color: black;
}
.carousel-indicators li {
    background-color: black;
}
div.row.botones {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.desk {
    display: none;
}
.mobile {
    display: flex;
}
button.a {
    font-size: 15px;
    width: 100%;
    background-color: #EA2027;
    border: 2px solid #EA2027;
    color: white;
    padding: 5px;
    cursor: pointer;
    margin: 12px 0;
    border-radius: 8px;
}
.talle{
    display: flex;
    justify-content: center;
    border: 2px solid #bdc4cc;
    border-color: #EA2027;
    border-radius: 14px;
}
.talle:hover {
    background-color: #EA2027;
    color: white;
    border-color: #EA2027
}
div.row.talles {
    justify-content: space-around;
    margin-bottom: 20px;
}
.elegir {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.test:hover{
    transform: scale(1.1);
}
.categoryMenu{
    width: 75%;
    padding: 8px 16px;
    border-radius: 25px;
    border: 2px solid #EA2027;
    cursor: pointer;
    user-select: none;
    background-color: none;
}

.categoryMenu:hover {
    background-color: #EA2027;
    color: white;
}


@media(min-width: 1024px){
    div.row.f {
        display: flex;
        justify-content: start;
    }
    .precio {
        align-items: center;
    }
    .nombreProd {
        justify-content: center;
        margin-bottom: -11px;
        margin-top: 20px;
    }
    .mobile {
        display: none;
    }
    .desk {
        display: flex;
    }
    .allProducts {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titulo {
        text-align: center;
        font-size: 20px;
        padding: 20px 0px 20px 0px;
    }
    .f {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid black;
        padding-bottom: 20px;
    }
    .precio {
        text-align: center;
    }
    .elegir {
        margin-top: 0px;
    }
    h6.desc {
        margin-top: 10px;
    }
    .categoryMenu{
        width: 50%;
        padding: 8px 16px;
        border-radius: 25px;
        border: 2px solid #EA2027;
        cursor: pointer;
        user-select: none;
        background-color: none;
    }
    
    .categoryMenu:hover {
        background-color: #EA2027;
        color: white;
    }
    .categoryMenu{
        width: 100px;
    }
    
}