body{
    background-color: #f1f2f6;
  
  }

  button.btn{
    width: 100%;
    background: none;
    border: 2px solid #EA2027;
    color: black;
    padding: 5px;
    cursor: pointer;
    margin: 12px 0;


}

button.btn:hover {
    background-color: #EA2027;
    color: white;
}

@media(min-width: 1024px){
  .img {
    height: 20%;
    width: 20%;
  }
}

.buttonfix{
  width: 100%;
}
