@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
  margin: 0;
  padding: 0;  
  font-family: sans-serif ;
  background-color: #f1f2f6;

}

ul li{
    text-align: center;
    list-style:none;
    color: #EA2027;
}

ul{
    padding: 0px;
}

.container-fluid h1{
    float: left;
    font-size: 40px;
    border-bottom: 7px solid #EA2027;
    margin-bottom: 50px;
    padding: 13px 0;
    

}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #EA2027;

}

.textbox i{
    width: 26px;
    float: left;
    text-align: center;

}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
    
}

.forgot-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input.btn{
    width: 100%;
    background: none;
    border: 2px solid #EA2027;
    color: black;
    padding: 5px;
    cursor: pointer;
    margin: 12px 0;

}

input.btn:hover {
    background-color: #EA2027;
    color: white;
}


.notMember{
    text-align: center;
}



@media (min-width: 768px){
   .table{
    margin-top: 11vh;
   }
}