<head>
    <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fresh | Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/882d6fd4b6.js" crossorigin="anonymous"></script>
    
  </head>
<%- include("partials/header.ejs") %>
<h1>Error 404</h1>
<h2>La pagina o producto ya no existe!</h2>
<img src="/images/error404.jpg" alt="" style="width: 100%;height: 100%;">
<%- include("partials/footer.ejs") %>


